
html{
	width:100%;
	height: 100%;
	overflow: hidden;
}

#screen{
	float: right;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 50px;
	z-index: -1;
}

.screen-items{
	width: 40px;
	height: 40px;
	margin: 30px;
}

#project-shortcut{
	position: relative;
	left: 85%;
}

#contacts-shortcut{
	position: relative;
	left: 70%;
}

#drawings-shortcut{
	position: relative;
	left: 80%;
}

#about-shortcut{
	position: relative;
	left: 82%;
}

#education-shortcut{
	position: relative;
	left: 75%;
}

.manager-image{
	width: 100%;
	height: 100%;
}

.setting-items{
	float: left;
	color: white;
	position: relative;
}

#restart{
	cursor: pointer;
	top: 150px;
	color: white;
}

.portfolio-item{
	width: 35%;
	padding: 20px;
	color: white;
	text-align: center;
	float: left;
	position: relative;
	margin: 15px;
	margin-left: 30px;
	background: white;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.thumbnail{
	width:150px;
	height: 100px;
}

#contacts{
	position: absolute;
	text-align: center;
}

#contact-heading{
	color: white;
}

#contact-body{
	color: white;
	padding-left: 40px;
	padding-right: 40px;
	font-size: 18px;
}

#about{
	text-align: center;
}

#about-heading{
	color: white;
}

#about-body{
	margin-left: 20px;
	margin-right: 5px;
	text-align: left;
	color: white;
}

#education{
	text-align: center;
}

#education-heading{
	color: white;
}

#education-body{
	margin-left: 20px;
	margin-right: 5px;
	text-align: left;
	color: white;
}

.pop-up{
	width: 600px;
	height: 400px;
	color: black;
	position: absolute;
	border: 3px solid;
	display: none;
	top: 10%;
	border-radius: 5px;
}
.container{
	width:100%;
	height: 360px;
	position: absolute;
	background: linear-gradient(to right bottom, #ff9966, #ff5e62);
	align-items: center;
}

.item-container{
	width: 100%;
	height: 360px;
	position: relative;
	overflow: auto;
}

.text-center{
	margin-top: 0px;
	text-shadow: 0 0 3px black, 0 0 5px black;
}

.popup-header{
	position: sticky;
	top: 0px;
	height: 30px;
	width: 100%;
	color: white;
	background-color: black;
	text-align: center;
	padding-top: 10px;
	display: inline-block;
}

.pop-up:active{
	z-index: 2;
} 

.manager-items{
	cursor: pointer;
	width: 40px;
	height: 40px;
	float: left;
	bottom: 20px;
	position: relative;
	text-align: center;
	margin-left: 14%;
}

.white{
	color: white;
}


#taskbar{
	z-index: 3;
	width:100%;
	height:50px;
	background: linear-gradient(grey 30%, transparent);
	position: absolute;
	float: right;
	left: 0px;
	top: 0px;
	padding-left: 20px;
}

.task-item{
	position: absolute;
	color:white;
	padding-bottom: 5px;
	padding-left: 3px;
	
}

.sub-title{
	color: orange;
	position: relative;
	bottom: 20px;
	right: 8px;
	text-align: center;
}

#settings{
	width: 115px;
	text-align:center;
	position: absolute;
}

#userProfile{
	right: 10%;
	padding-right: 50px;
	position: relative;
	float: left;
	width: 300px;
	left: 15%;
}


.dropdown{
	position: relative;
	display: inline-block;
}

.dropdown-content{
	padding-right: 50px;
	width: 100%;
	display: none;
	position: absolute;
	background-color: grey;
	z-index: 3;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 12px 16px;
}

.dropdown:hover .dropdown-content{
	display: block;
}

#manager{
	text-align: center;
	position: fixed;
	right: 0px;
	width: 100%;
	bottom: 0px;
	height: 50px;
	background: linear-gradient(transparent, grey);
}

.background{
	cursor: pointer;
	float: left;
	padding: 2px;
	margin: 2px;
	width: 30px;
	height: 30px;
}

.close{
	display: flex;
	justify-content: end;
	float: right;
	margin-right: 5px;
	padding: 5px;
	position: relative;
	bottom: 5px;
	border: 1px solid;
	border-radius: 5px;
}

.close:hover{
	cursor: pointer;
}

#headshot{
	border-radius: 50%;
	width: 40%
}

.manager-text{
	position: relative;
	bottom: 20px;
	right: 10px;
	color: black;
	
	
}

#about-manager{
	right: 4px;
}

#about-screen{
	right: 1px;
}

.svg-holder{
	width: 100%;
	padding-top: 15px;
	padding-bottom: 20px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

svg polygon{
	
	stroke-dasharray: 250;
	animation: dashoffset 1.5s linear infinite;
}
    
@keyframes dashoffset{
	to {
		stroke-dashoffset: 500;
    }
}

svg circle{
	stroke-dasharray: 410;
	animation: Circledashoffset 1.5s linear infinite;
}

@keyframes Circledashoffset{
	to {
		stroke-dashoffset: 779;
    }
}

.grad-svg{
	background: linear-gradient(to right, #3ba9f4, #9fea63);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	transition: .2s;
	transition-timing-function: ease-in;
}

.grad-svg:hover{
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2); 
}

button {
  display: inline-block;
  position: relative;
  width: 40%;
  height: 30px;
  font-size: 15px;
  top: 0;
  border: 0px;
  font-family: "Open Sans", Helvetica;
  border-radius: 4px;
  border-bottom: 1px solid rgba( 28, 227, 125, 0.5 );
  background: rgba( 22, 230, 137, 1 );
  color: #fff;
  box-shadow: 0px 0px 0px rgba( 15, 165, 60, 0.1 );
  margin-top: 10px;
  margin-left: 10px;
}

a{
	text-decoration: none;
}